@font-face {
    font-family: 'kyiv_type_titling_regular';
    src: url('../../assets/Fonts/kyiv_type_titling/KyivTypeTitling-Regular.otf');
}
.leftside-bar{
  height: 100%;
  width: 250px;
  background-color: #333;
  color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.option-filter{
    margin-left: 10px;
    margin-top: 10px;
}
.filter-container{
  list-style-type: none;
  padding: 0;
  margin-left: 10px;
}

.filter-item{
  padding: 10px 0;
  cursor: pointer;
}
.filter-item:hover{
  background-color: #444;
}
.filter-item p{
  font-family: 'kyiv_type_titling_regular',sans-serif;
}

.sidebar-title{
  font-family: 'kyiv_type_titling_regular',sans-serif;
}
.filter-title{
  font-family: 'kyiv_type_titling_regular',sans-serif;
}