.buyBookHistory-item{
    display: grid;
    grid-template-columns: 10fr 10fr 10fr 20fr 10fr 10fr 30fr;
}
.buyBookHistory-list-header .STT{
    width: 10%;
    font-size: 16px;
}
.buyBookHistory-list-header .bill-id{
    width: 10%;
    font-size: 16px;
}
.buyBookHistory-list-header .bookTitle-id{
    width: 10%;
    font-size: 16px;
}
.buyBookHistory-list-header .bookTitle-name{
    width: 20%;
    font-size: 16px;
}
.buyBookHistory-list-header .amount{
    width: 10%;
    font-size: 16px;
}
.buyBookHistory-list-header .price{
    width: 10%;
    font-size: 16px;
}
.buyBookHistory-list-header .implementDate{
    width: 30%;
    font-size: 16px;
}