.buyBook-list-header .STT{
    width: 15%;
    font-size: 16px;
}
.buyBook-list-header .book-id{
    width: 15%;
    font-size: 16px;
}
.buyBook-list-header .book-name{
    width: 40%;
    font-size: 16px;
}
.buyBook-list-header .price{
    width: 10%;
    font-size: 16px;
}
.buyBook-list-header .amount{
    width: 10%;
    font-size: 16px;
}
.buyBook-list-header .user-action{
    width: 10%;
    font-size: 16px;
}
.buyBook-item{
    display: grid;
    grid-template-columns: 15fr 15fr 40fr 10fr 10fr 10fr;
}
.buyBook-list-data{
    padding-inline: 32px;
}