.object-list-header{
    display: flex;
    flex-direction: row; 
    align-items: center;
    font-size: 14px;
    font-weight: 500; 
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 12px; 
    padding-bottom: 12px; 
  }
  
  .object-item{
    height: 65px;
    color: gray;
    align-items: center;
    transition: color 0.2s;
    padding-inline:32px;
    border-radius: 10px;
  }
  .object-item p:hover{
    color: #A27430;
    font-weight: bold;
  }
  .action-btn-area{
    display: flex;
    gap: 5px;
  }