.forget-pass-content{
    background-image:url("../../assets/Images/background2.png") ;
    height: 100vh;
    width: 100vw;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.forget-pass-content .header-register{
    width: 100%;
}
.main-forget-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    margin-top: 100px;
}
.form-forgetpass{
    background-color: #212830;
    border: solid 1px #4d5966;
    width: 700px;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    border-radius: 10px;
    gap: 20px;
    text-align: center;
}
.form-forgetpass .form-control{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 5px;
}
.form-forgetpass .form-control .description-text{
    font-size: 14px;
}
.form-forgetpass .form-control input{
    width: 100%;
    font-size: 14px;
    background-color: #212830;
    color: white;
}
.form-forgetpass .submit-btn{
    background-color: rgb(0, 95, 0);
    border-radius: 10px;
    font-size: 16px;
    max-height: 35px;
    transition: background-color 0.3s ease;
    font-weight: normal;
}
.form-forgetpass .submit-btn:hover{
    background-color: rgb(77, 255, 77);
}
.title-forgetpass{
    font-size: 25px;
    color: white;
}
.description-text{
    font-size: 10px;
}