.nav-cart-state{
    box-Shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 100%;
    border-radius: 5px;
}
.nav-cart-state ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.nav-cart-state ul li{
    padding: 10px 80px 10px 80px; 
    white-space: nowrap;
    border-radius: 10px;
}
.nav-cart-state ul li:hover{
    background-color: #D9D9D9;
    cursor: pointer;
}
.actionHistory-item{
    display: grid;
    grid-template-columns: 10fr 10fr 10fr 20fr 15fr 15fr 10fr 10fr;
}
.actionHistory-list-header .STT{
    width: 10%;
    font-size: 16px;
}
.actionHistory-list-header .bill-id{
    width: 10%;
    font-size: 16px;
}
.actionHistory-list-header .bookTitle-id{
    width: 10%;
    font-size: 16px;
}
.actionHistory-list-header .bookTitle-name{
    width: 20%;
    font-size: 16px;
}
.actionHistory-list-header .implementDate{
    width: 15%;
    font-size: 16px;
}
.actionHistory-list-header .expireDate{
    width: 15%;
    font-size: 16px;
}
.actionHistory-list-header .status{
    width: 10%;
    font-size: 16px;
}
.actionHistory-list-header .user-action{
    width: 10%;
    font-size: 16px;
}