.background {
    background-image: url("../../assets/Images/bg_login.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    width: 100%;
    overflow: hidden;
}

.login_area{
    background-color: white;
    width: 700px;
    height: fit-content;
    border-radius: 10px;
    margin: 150px 100px ;
    padding: 40px;
    box-sizing: border-box;
}
.highlight{
    text-decoration-color: #A27430;
}
.login_area .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 10px 0;
}
.input-box input{
    margin: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border: 2px solid #8F8F8F;
    border-radius: 20px;
    font-size: 16px;
    padding-left:10px;
    padding-right: 10px;
    box-sizing: border-box;
}
.input-box input::placeholder{
    color: #8F8F8F;
}
.login_area .remember-forgot{
    display: flex;
    justify-content: space-between;

}
.submit-btn{
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 30px;
    box-sizing: border-box;
    margin-top: 10px;
    cursor: pointer;
    background-color: #A27430;
    font-weight: 700;
    font-size: large;
    color: #fff;
    transition: background-color 0.3s ease;
}
.submit-btn:hover{
    background-color: #575757;
}
.submit-btn img{
    width: 30px;
    height: 15px;
    justify-content: center;
}